html {
    font-size: 22px
}
body {
    background-color:  #333;
    color: whitesmoke;
}
/*div { background-color: rgb(0, 255, 106); width: 300px; margin: auto;

}
*/
.Flower-Flex {
    display: flex; flex-direction: row;

}

.Flower-Block div{
    display: inline-block; 
    width: 33%;
    margin: 0;
    padding: 0;
}
.Flower-Grid {
    display: grid;
    grid-template-columns: 34% 33% 33%;

}
.tobi a{
    color: white;
    background-color: blue;
    border: 2px solid blue;
    border-radius: 20px;
    padding: 4px 20px;
    text-decoration: none;
}
.tobi a:hover{
    
    color: blue;
    background-color: white;
}
.tobi h2{
    display: inline-block;
    color: white;
    background-color: blue;
    border: 2px solid blue;
    border-radius: 20px;
    padding: 4px 20px;
    text-decoration: none;
}
.tobi h2:hover{
    
    color: blue;
    background-color: white;
}