<<<<<<< HEAD
html {
    font-size: 22px
}
body {
    background-color:  #333;
    color: whitesmoke;
=======
html {
    font-size: 22px
}
body {
    background-color:  #333;
    color: whitesmoke;
>>>>>>> bd9ff00a84ffbe286813828ac7aa4d0b88f3c1cb
}